*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(43, 41, 41);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 45px;
  max-width: 800px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#root {
  width: 100%;
  
}
ul{
  display: grid;
  grid-template-columns : repeat(auto-fill,minmax(128px,1fr));
  gap :24px;
  background-color: #00000080;
  padding: 20px;
  border-radius: 20px;
 
}

h1{
  font-size: 80px;
  color: rgb(7, 230, 230);
}

h3{
  font-size: 30px;
  margin: 20px 0px;
}
li{
  list-style: none;
  border: 1px solid white;
  
}
h2{
  text-align: center;
}

main{
  padding: 1rem;
  
}

img {
  max-width: 100%;
  width: 100px;
  height: auto;
}

.contenedor{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

button {
  background-color: rgb(12, 107, 107);
  width: 200px;
  height: 50px;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
  color: white;
  border-radius: 20px;
  transition: all 0.5s;
  font-size: 20px;
}

button:hover{
  background-color: rgb(18, 141, 141);
}
